 @{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-title">
                    <span class="roboto-Bold-700 title-morado">
                        <i class="fas fa-user-tie m-1"></i>
                        Perfil de Usuario</span>
                </div>
                <hr/>
                <div class="card-subtitle">
                    <span class="roboto-thin-ExtraLight-200">Complementa los datos de tu cuenta</span>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                    <div class="d-flex flex-row">
                        <div class="align-content-md-start m-2 col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <span class="roboto-thin-ExtraLight-200 title-morado">Nombre del Perfil:</span>
                        </div>
                        <div class="align-content-center col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <input type="text" class="form-control form-control-sm" placeholder="Nombre del Perfil" required />
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="align-content-md-start m-2 col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <span class="roboto-thin-ExtraLight-200 title-morado">Descripción:</span>
                        </div>
                        <div class="align-content-sm-center col-xs-12 col-sm-12 col-md-10 col-lg-10" >
                            <textarea  cols="5" class="form-control form-control-sm" placeholder="Descripción del Perfil"></textarea>
                        </div>
                    </div>
                    <div class="row">
                            <div class="d-flex flex-row mt-1">
                                <div class="justify-content-md-start col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                    <span class="roboto-thin-ExtraLight-200 title-morado">Nombre:</span>
                                </div>
                                <div class="justify-content-md-center col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                    <input type="text" class="form-control form-control-sm" placeholder="Nombre Completo" required />
                                </div>
                                <div class="justify-content-md-start col-xs-12 col-sm-12 col-md-2 col-lg-2 m-1">
                                    <span class="roboto-thin-ExtraLight-200 title-morado">Apellido Paterno:</span>
                                </div>
                                <div class="justify-content-md-center col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                    <input type="text" class="form-control form-control-sm" placeholder="Apellido Paterno" required />
                                </div>
                                <div class="justify-content-md-start col-xs-12 col-sm-12 col-md-2 col-lg-2 m-1">
                                    <span class="roboto-thin-ExtraLight-200 title-morado">Apellido Materno:</span>
                                </div>
                                <div class="justify-content-md-center col-xs-12 col-sm-12 col-md-2 col-lg-2 w-25">
                                    <input type="text" class="form-control form-control-sm" placeholder="Apellido Paterno" required />
                                </div>
                            </div>
                            
                    </div>
                    <div class="row">
                        <div class="d-flex flex-row mt-1">
                            <div class="justify-content-md-start col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                <span class="roboto-thin-ExtraLight-200 title-morado w-50 justify-content-md-start">Email:</span>
                            </div>
                            <div class="justify-content-sm-center col-xs-12 col-sm-12 col-md-2 col-lg-2 w-25">
                                <input type="text" class="form-control form-control-sm" placeholder="Correo Electrónico" required /> 
                            </div>
                            <div class="justify-content-md-start col-xs-12 col-sm-12 col-md-1 col-lg-1 m-1">
                                <span class="roboto-thin-ExtraLight-200 title-morado">Núm.Celular:</span>
                            </div>
                            <div class="justify-content-md-center col-xs-12 col-sm-12 col-md-2 col-lg-2 w-25">
                              <input type="text" class="form-control form-control-sm" placeholder="Num.Celular" required />
                            </div>
                            <div class="justify-content-md-start col-xs-12 col-sm-12 col-md-1 col-lg-1 m-1">
                              <span class="roboto-thin-ExtraLight-200 title-morado">Genero:</span>
                            </div>
                            <div class="justify-content-md-center col-xs-12 col-sm-12 col-md-2 col-lg-2 w-25">
                               <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                  <option selected>Seleccionar</option>
                                  <option value="1">Masculino</option>
                                  <option value="2">Femenino</option>
                                  <option value="3">Prefiero No Decirlo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="d-flex flex-row justify-content-sm-start">
                                <button class="btn btn-link title-orange roboto-Black-900" id="btnDireccion">
                                    <i class="fas fa-user-plus"></i>
                                    Add Dirección
                                </button>
                           
                        </div>
                        <div class="d-flex flex-row justify-content-sm-end">
                            <span class="roboto-thin-ExtraLight-200 title-morado">
                                 <i class="fas fa-user-tag"></i>
                            Subir Foto</span>
                        </div>
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row">
                           <input type="file" accept="image/*" id="txtFile" class="drop-container title-morado w-100">
                       </div>
                    </div>   
                    <div class="row mt-2">
                        <div class="d-flex flex-row">
                            <input type="submit" class="btn btn-lg btn-bd-morado w-100" value="Guardar" id="btnGuardar" />
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/perfiles/create-file.js"></script>
